{% extends 'content/base.html' %}

{% block content_entire %}



<section class="container" style="margin-bottom: 48px;">
    <h2>About Us</h2>
</section>


<main class="container">

        <div class="row">
            <div class="col-md-12  col-sm-12 col-xs-12">
                <div style="margin-bottom: 32px;">
                    <h4 style="text-align: left">Who we are</h4>
                    <p>We are a group of people that enjoys anime and came together to build this platform. We've noticed that most free anime stream platforms sometimes lack quality, have a slow video buffer, or are full of pop ups and  really annoying ads.</p>
                    <p>So we decided to change that and implement a solution that provides a good experience, for free, with less annoying ads and a decent video quality. Do keep in mind that the episodes featured are not uploaded by us, which makes controlling quality harder.</p>
                </div>

                <h4 style="text-align: left">Why should you watch anime on our platform?</h4>
                <p>Our platform does have its flaws, or is missing some of your favorite series, but we try to listen to the community as much as possible to be able to improve it and provide a better experience!</p>
                <p>We also provide an Android App, which a lot of our "competitors" don't have, to make it easier to enjoy Anime on your phone. We will also be working on an IOS app so stay tuned ;)</p>
            </div>
        </div>
</main>

{% endblock %}