{% extends 'content/base.html' %}

{% block content_entire %}


<section class="container" style="margin-bottom: 48px;">
    <h2>Privacy Policy</h2>
</section>


<main class="container">
    <div class="row">
        <div class="page-content col-md-12  col-sm-12 col-xs-12" >
            <div style="margin-bottom: 32px;">
                <h4 style="text-align: left" class="vc_custom_heading vc_custom_1590637398610 heading_style_4">Cookies & 3rd Party Advertisements</h4>
                <p>Google, as a third party vendor, uses cookies to serve ads on your site. Google's use of the DART cookie enables it to serve ads to your users based on their visit to your sites and other sites on the Internet. Users may opt out of the use of the DART cookie by visiting the <a href="https://www.google.com/privacy_ads.html">Google ad and content network privacy policy.</a></p>
                <p>We allow third-party companies to serve ads and/or collect certain anonymous information when you visit our web site. These companies may use non-personally identifiable information (e.g., click stream information, browser type, time and date, subject of advertisements clicked or scrolled over) during your visits to this and other Web sites in order to provide advertisements about goods and services likely to be of greater interest to you. These companies typically use a cookie or third party web beacon to collect this information. To learn more about this behavioral advertising practice or to opt-out of this type of advertising, you can visit <a href="http://www.networkadvertising.org/managing/opt_out.asp">http://www.networkadvertising.org/managing/opt_out.asp</a>.</p>
            </div>

            <div>
                <h4 style="text-align: left" class="vc_custom_heading vc_custom_1590637398610 heading_style_4">Third Party Disclosure</h4>
                <p>We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information unless we provide you with advance notice. This does not include website hosting partners and other parties who assist us in operating our website, conducting our business, or servicing you, so long as those parties agree to keep this information confidential. We may also release your information when we believe release is appropriate to comply with the law, enforce our site policies, or protect ours or others' rights, property, or safety.
However, non-personally identifiable visitor information may be provided to other parties for marketing, advertising, or other uses. </p>
            </div>
        </div>
    </div>
</main>

{% endblock %}