{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Anime Watcher - Change Password</title>
    <link rel="icon" href="{% static 'favicon.png' %}" media="(prefers-color-scheme:no-preference)">
    <link rel="icon" href="{% static 'favicon_white.png' %}"  media="(prefers-color-scheme:dark)">
    <link rel="icon" href="{% static 'favicon_black.png' %}" media="(prefers-color-scheme:light)">

    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'authentication/fonts/material-icon/css/material-design-iconic-font.min.css' %}">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'authentication/css/style.css' %}">

    <style>
        .form-submit:hover{
            background: #d14b2a
        }

        .form-submit {
            background: #ff5c33;
        }
    </style>
</head>
<body background="{% static 'authentication/images/mangaChangePassword.jpg' %}" style="background-position: center;">

    <div class="main">

        <!-- Sign up form -->
        <section class="signup">
            <div class="container" style="background: #585858">
                <div class="signup-content">
                    <div class="signup-form" style="margin: auto;">
                        <h2 class="form-title">Change Password</h2>
                        <form method="POST" class="register-form" id="register-form">{% csrf_token %}

                            <div class="form-group">
                                <label><i class="zmdi zmdi-account material-icons-name" style="color: black; margin-right: 18px; margin-left: 3px;"></i></label>
                                <input type="text" value="{{ username }}" disabled>
                            </div>

                            <div class="form-group">
                                <label><i class="zmdi zmdi-lock" style="margin-left: 3px;"></i></label>
                                {{ form.old_password }}
                            </div>

                            <div class="form-group">
                                <label><i class="zmdi zmdi-lock-outline" style="margin-left: 3px;"></i></label>
                                {{ form.new_password1 }}
                            </div>

                            <div class="form-group">
                                <label><i class="zmdi zmdi-lock-outline" style="margin-left: 3px;"></i></label>
                                {{ form.new_password2 }}
                            </div>

                            <div class="form-group form-button">
                                <input type="submit" name="signup" id="signup" class="form-submit" value="Change Password"/>
                            </div>

                            {% for obj in form.old_password.errors %}
                                <p style="color: #ff3333;">{{obj}}</p>
                            {% endfor %}

                            {% for obj1 in form.new_password1.errors %}
                                <p style="color: #ff3333;">{{obj1}}</p>
                            {% endfor %}

                            {% for obj2 in form.new_password2.errors %}
                                <p style="color: #ff3333;">{{obj2}}</p>
                            {% endfor %}

                            {% for message in messages %}
                                {% if message.extra_tags == 'error' %}
                                    <p style="color: #ff3333;">{{message}}</p>
                                {% else %}
                                    <p style="color: #6fdc6f;">{{message}}</p>
                                {% endif %}

                            {% endfor %}

                        </form>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <!-- JS -->
    <script src="{% static 'authentication/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'authentication/js/main.js' %}"></script>
    <script type="text/javascript" >
        $(document).ready(function(){
            $("#id_old_password").attr('placeholder', 'Old Password');
            $("#id_new_password1").attr('placeholder', 'New Password');
            $("#id_new_password2").attr('placeholder', 'Repeat New Password');
        });
    </script>
    <script>
        $(document).ready(function() {
            if (!window.matchMedia)
                return;

            var current = $('head > link[rel="icon"][media]');
            $.each(current, function(i, icon) {
                var match = window.matchMedia(icon.media);
                function swap() {
                    if (match.matches) {
                        current.remove();
                        current = $(icon).appendTo('head');
                    }
                }
                match.addListener(swap);
                swap();
            });
        });
    </script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>